*{
    font-family: "Montserrat", serif;
    color:white;
    overflow: hidden;
}
body{
    background-color: black;
}
a{
    text-decoration: none;
}
.main{
    display: flex;
    height:100vh;
    width:100%;
    background-color: black;
}
.sidebar{
    width: 26.25rem;
    /* position: absolute;
    left:-27rem; */
    background-color: black;
    border-radius: 1rem;
    margin-right:0.5rem ;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:#121212;
    border-radius: 1rem;
    height:100px;
    padding:0.5rem 0.75rem;
}
.nav-opt{
    opacity :0.7;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
}
.nav-opt a{
    font-size: 1rem;
    margin-left: 1rem;
}
.nav-opt i{
    font-size: 1.25rem;
    margin-left: 0.75rem;
}
.nav-opt:hover{
    opacity :1;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    padding:0.75rem 0.75rem;
    height:100%;
    margin-top: 0.5rem;
}
.lib-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.75rem;
}
.lib-opt{
    opacity: 0.7;
}
.lib-opt a{
    margin-left: 1rem;
}
.lib-opt img{
    height:1.25rem;
    width:1.25rem;
    margin-left: 0.75rem;
}
.lib-icons i{
    margin-left: 1rem;
    opacity: 0.7;
    font-size:1.25rem;
}
.lib-opt:hover{
    opacity: 1;
}
.lib-top i:hover{
    opacity: 1;
    cursor: pointer;
}
.lib-box{
    height:8rem;
    background-color: #232323;
    margin:1.5rem 0;
    padding: 1rem 1.25rem;
    padding-top:0;
    border-radius: 0.75rem; 
}
.lib-box .p1{
    font-size: 1rem;
    font-weight: 600;
}
.lib-box .p2{
    opacity: 0.9;
    font-size: 0.85rem;
}
.badge{
    border:none;
    background-color: #fff;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    color:black;
    font-weight: 700;
    height:2rem;
    margin:1rem 0;
}
.main-cont{
    flex:1;
    overflow: scroll;
    background-color: #121212;
    border-radius: 1rem;
    padding: 0 0.75rem;
}
.sticky-nav{
    top:0;
    position:sticky;
    background-color: #121212;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0.75rem 0.75rem;
    z-index: 15;
}
.sticky-nav-options{
    display:flex;
    align-items: center;
}
.sticky-nav-icons{
    margin:0 0.5rem;
}
.sticky-nav>i{
    opacity: 0.7;
}
.sticky-nav>i:hover{
    opacity: 1;
    font-size: 1.3rem;
}
.sticky-nav img{
    opacity: 0.7;
}
.sticky-nav img:hover{
    opacity: 1;
    transform: scale(1.25,1.25);
}
.fa-user{
    opacity:0.7;
}
.fa-user:hover{
    opacity:1;
    font-size: 1.5rem;
}
#install-app{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: #121212;
    color:white;
    opacity:0.7;
}
#install-app:hover{
    opacity: 1;
    font-size: 1rem;
}
#install-app i{
    font-size: 1rem;
}
.sticky-nav-options button,i,img{
    margin:0 0.5rem;
}
.sticky-nav .badge:hover{
    transform: scale(1.1,1.1);
}
.sticky-nav-options > i{
    font-size: 1.25rem;
}
.card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
}
.card{
    width:10rem;
    height:15rem;
    padding:0.75rem;
    background-color: #232323;
    border-radius: 0.5rem;
    margin: 0.75rem;
}
.card-title{
    font-weight: 700;
}
.card-desc{
    font-size: 0.7rem;
    opacity: 0.8;
}
.card img{
    width:10rem;
    border-radius: 0.5rem;
    margin: 0;
    padding: 0;
}
.footer{
    height:250px;
    justify-items: center;
    align-content: center;
}
.footer div{
    width:95%;
    height:10%;
    border-top:0.5px solid white;
    opacity:0.4;
}
.music-player{
    position:fixed;
    background-color: black;
    bottom:0px;
    height:4.5rem;
    width:100%;
    display:flex;
    
}
.album{
    width:25%;
    padding:0.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.album-image{
    height:100%;
}
.album-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.album .album-title{
    font-weight: 600;
    font-size: 1rem;
    margin:0;
}
.album .album-author{
    font-size:0.75rem;
    opacity: 0.6;
    margin:0;
}
.album i{
    font-size: 1.2rem;
}
.playback{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.playback-controls{
    height:50%;
    display:flex;
    justify-content: center;
    align-items:center;
}
.playback-icon{
    height:1rem;
    margin:0 0.5rem;
    opacity: 0.5;
    padding: 0.5rem;
}
.playback-icon:hover{
    opacity: 1;
}
.progress{
    display: flex;
    justify-content: center;

    height:1.5rem;
}
.progress span{
    margin:0 0.5rem;
}
.progress-bar{
    appearance: none;
    width:70%;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height:0.2rem;
    margin: 0 0.5rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:1rem;
    width:1rem;
    background-color: #1bd760;
    border-radius:50%;
    margin-top:-0.35rem;
}
.extra-controls{
    width:25%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0 0.5rem;
}
.extra-controls i,img{
    margin:0 0.25rem;
}
.extra-controls i{
    opacity: 0.5;
}
.extra-controls i:hover{
    opacity: 1;
}
.extra-controls .volume{
    appearance: none;
    background-color: transparent;
    cursor:pointer;
    overflow: visible;
}
.extra-controls .volume::-webkit-slider-runnable-track{
    background-color: #ddd;
    height:0.15rem;
    border-radius: 1000px;
}
.extra-controls .volume::-webkit-slider-thumb{
    appearance: none;
    height:0.75rem;
    width:0.75rem;
    border-radius: 50%;
    background-color: #1bd760;
    margin-top: -4.35px;
} 
@media (max-width:1000px){
    .hide{
        display: none;
    }
}
@media (max-width:460px){
    .sidebar{
        position: absolute;
        left:-27rem; 
    }
    .album{
       display:none;
    }
    .playback{
        width:100%;
        padding: 0;
    }
    .progress{
        justify-content: space-around;
    }
    .music-player{
        padding: 0;
    }
    .extra-controls{
        display: none;
    }
}